@media (max-width: 220px) {
  .promo-info {
    padding: 5%;
  }
  .promo-info h1 {
    font-size: 12px;
    font-weight: 300;
  }
}

@media (max-width: 550px) {
  .promo__items {
    flex-direction: column;
  }
  .promo-info h1 {
    font-size: 12px;
    font-weight: 300;
  }
  .promo-info p {
    font-size: 0.5rem;
  }
}
