@media (max-width: 335px) {
  .logo {
    width: 110.5px;
    height: 27.5px;
  }
  .about_us__info {
    font-size: 0.2rem;
  }
}
@media (max-width: 220px) {
  #background-video {
    display: none;
  }
  body {
    background: url("/assets/video/cover.png") no-repeat;
    background-size: cover;
  }
  .promo-info {
    padding: 5%;
  }
  .promo-info h1 {
    font-size: 1rem;
  }
}
