/* .navbar {
    background: linear-gradient(rgb(178, 245, 243), rgba(1, 23, 39, 0.7));
    /* background-color: transparent !important;
    border-color: transparent !important; 
}

*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
:root {
  --blue: #1068b3;
  --white: #ffffff;
  --black: #000;
  --purple: #5652a8;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
.navbar {
  webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}
.navbar .navbar-nav > li > a {
  color: var(--black);
  text-transform: uppercase;
  font-weight: 400;
}

.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
  color: var(--blue);
}
.custom_toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 136, 204, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom_toggler.navbar-toggler {
  border-color: var(--blue);
}

.hover-underline-animation {
  display: inline-block; /* Display inline block */
  position: relative; /* Set position relative */
  color: var(--blue); /* Set text color */
}

.hover-underline-animation:after {
  content: ""; /* Add content after the element */
  position: absolute; /* Position absolute for pseudo-element */
  width: 100%; /* Full width */
  transform: scaleX(0); /* Initial scale of 0 for underline effect */
  height: 2px; /* Height of the underline */
  bottom: 0; /* Align to bottom */
  left: 0; /* Align to left */
  background-color: var(--blue); /* Background color of the underline */
  transform-origin: bottom right; /* Set transform origin */
  transition: transform 0.25s ease-out; /* Transition effect for the underline */
}

.hover-underline-animation:hover:after {
  transform: scaleX(1); /* Scale the underline on hover */
  transform-origin: bottom left; /* Set transform origin */
}
.promo {
  padding: 3% 0 5%;
}
.promo-video {
  clip-path: circle(50% at 50% 50%);
}
#background-video {
  width: 100vh;
  height: 70vh;
  object-fit: cover;
  filter: grayscale(0.7);
}
.promo-info {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5%;
}
.promo-info h1 {
  font-weight: 600;
  font-size: 2rem;
  color: var(--blue);
}
.promo-info p {
  font-size: 1rem;
  position: relative;
  height: 1.511111111111;
}
.promo-info a {
  position: absolute;
  right: 0;
  bottom: -40px;
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--black);
  padding: 2%;
  border: 0.5px solid #000;
  text-decoration: none;
  border-radius: 50%;
}
.about_us {
  background-color: var(--blue);
  text-align: center;
}
.about_us__info {
  padding: 80px 0 80px;
  color: var(--white);
  font-family: "Space Grotesk", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}
