/* .navbar {
    background: linear-gradient(rgb(178, 245, 243), rgba(1, 23, 39, 0.7));
    /* background-color: transparent !important;
    border-color: transparent !important; 
}

*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,900&family=Space+Grotesk:wght@300;400;500&display=swap");

body {
  font-family: "DM Sans", sans-serif;
}
.navbar {
  background-color: rgba(225, 225, 225, 0.8);
}
.navbar .navbar-nav > li > a {
  color: #000;
  text-transform: uppercase;
  font-weight: 450;
}

.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
  color: #0087ca;
}
.custom_toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 136, 204, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom_toggler.navbar-toggler {
  border-color: rgb(0, 136, 204);
}

.hover-underline-animation {
  display: inline-block; /* Display inline block */
  position: relative; /* Set position relative */
  color: #0087ca; /* Set text color */
}

.hover-underline-animation:after {
  content: ""; /* Add content after the element */
  position: absolute; /* Position absolute for pseudo-element */
  width: 100%; /* Full width */
  transform: scaleX(0); /* Initial scale of 0 for underline effect */
  height: 2px; /* Height of the underline */
  bottom: 0; /* Align to bottom */
  left: 0; /* Align to left */
  background-color: #0087ca; /* Background color of the underline */
  transform-origin: bottom right; /* Set transform origin */
  transition: transform 0.25s ease-out; /* Transition effect for the underline */
}

.hover-underline-animation:hover:after {
  transform: scaleX(1); /* Scale the underline on hover */
  transform-origin: bottom left; /* Set transform origin */
}
.promo {
  padding: 12% 0 5%;
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: grayscale(0.7);
}
.promo-info {
  background-color: #fff;
  padding: 2%;
}
.promo-info .intro {
  font-size: 1rem;
  padding: 5% 0 0;
}
.promo-info .offer {
  font-size: 1rem;
  padding: 5% 0 2%;
}
.promo-info a {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
  padding: 2%;
  border: 1px solid #000;
  text-decoration: none;
  border-radius: 50%;
}
.promo-info h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 2rem;
  color: #0087ca;
}

.promo-info p {
  font-size: 1rem;
}
.about_us__info {
  background-color: #0087ca;
  padding: 80px 0px 80px;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  border-radius: 25% 25% 25% 25% / 50% 0% 50% 0%;
}
